<div class="square">
  <div class="image">
    <img src="../../../../assets/images/_services/metodoTherasuit.png" alt="">
  </div>
  <div class="content">
    <div class="title">
      <h2>Metodo Therasuit</h2>
    </div>
    <div class="resume">
      <p>
        O TheraSuit é um método terapêutico intensivo utilizado no tratamento de crianças e adultos com distúrbios neuromotores.
      </p>
    </div>
  </div>
  <div class="buttons">
    <button class="buttonDelete" mat-flat-button (click)="deletar()">Deletar</button>
    <button class="buttonEdit" mat-stroked-button (click)="deletar()">Editar</button>
  </div>

</div>
