<div class="content">
  <div class="history">
    <h2>histórico de posts e noticías</h2>
    <div class="images">
      <img src="../../../assets/images/admin/noImage.png" alt="">
      <img src="../../../assets/images/admin/noImage.png" alt="">
      <img src="../../../assets/images/admin/noImage.png" alt="">
    </div>
  </div>
  <div class="form">
    <h2>Formulario</h2>
      <div>
        <label for="fileInput">Selecione uma imagem:</label>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" />
      </div>
      <div *ngIf="previewUrl" class="preview-container">
        <h3>Pré-visualização:</h3>
        <label for="fileInput"><img [src]="previewUrl" alt="Pré-visualização da imagem" class="preview-image" /></label>
      </div>
      <label>
        <p>titulo*</p>
        <input type="text">
      </label>
      <p>Aqui ira aparecer o titulo do seu post</p>
      <label>
        <p>subtitulo*</p>
        <input type="text">
      </label>
      <p>aqui ira aparecer o subtitulo do seu post</p>
      <button *ngIf="fileToUpload" (click)="uploadFile()">Enviar</button>
      <p *ngIf="uploadProgress">{{ uploadProgress }}</p>
  </div>
</div>
