@import "../../global.scss";
.imagem{
}
.container {
  display: flex;
  .content {
    display: flex;
    gap: 217px;
    margin: 0 0 0 0;
    padding: 0 0 20px 217px;
    .contato{
      display: flex;
      flex-direction: column;
    }

    .mapa {
      align-items: left;
      justify-content: center;
    }
    .redes {
      a {
        align-items: center;
        display: flex;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      li {
        padding: 0;
      }
    }
  }

  h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    letter-spacing: 3.5%;
    margin: 0;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}

.container2 {
  display: flex;
  justify-content: space-between;
  background-color: greenyellow;
  padding: 20px 0 20px 0;
  border-radius: 8px;
  width: 100%;
  text-align: center;
      .endereço{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  .copy{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
}

svg{
  width: 18px;
}

@media(max-width:1014px){

  .container {
    display: flex;
    flex-wrap: wrap;
  .content{
      gap: 30px;
          padding: 0 0 20px 27px;

    }
  }
  .container2{
    display: flex;
    flex-wrap: wrap;
  }

}

@media (max-width: 428px) {
  .container {
  .content{
      gap: 30px;
          padding: 20px 0 20px 27px;

    }
  }

  .imagem{
  width: 100%;
  display: flex;
  padding: 10px 0 0 0;
  align-items: center;
  justify-content: center;
}
 }

