
<footer>
    <div class="container">
        <div class="imagem">
            <img src="../../../assets/images/Intertherapy Logo.svg" alt="imagem intertherapy">
        </div>
        <div class="mapa">
                <p>MAPA DO SITE</p>
                <ul>
                    <li><a href="/frontend/src/app/pages/about/about.component.html">Sobre Nós</a></li>
                   <li><a href="/frontend/src/app/pages/team/team.component.html">Equipe</a></li>
                   <li><a href="/frontend/src/app/pages/services/services.component.html">Serviços</a></li>
                </ul>
            </div>
        <div class="contato">
            <p>CONTATO</p>
            <a href="/frontend/src/app/pages/contact/">Fale Conosco</a>
            <p>(19) 3929-9866</p>
        </div>
        <div class="redes">
            <p>REDES SOCIAIS</p>
            <p>Instagram</p>
            <p>Facebook</p>
        </div>
    </div>
    <div class="container2">
        <div class="copy">
            <p>Copyright Intertherapy 2024</p>
        </div>
        <div class="endereço">
            <p>Rua José Von Zuben,181 - Vila Santo Antônio - Valinhos/SP</p>
        </div>
        <div class="contact">
            <a href="">intertherapyni&#64;gmail.com</a>
        </div>
    </div>
 </footer>
