.container{
    display: flex;
    justify-content: space-between
}
.contato, .redes, .mapa, .imagem{
   padding-left: 100px;
   padding-right: 100px;
    width: 25%;
}

a{
    display: block;
    color: black;
    text-decoration: none;
}
.container2{
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
    padding: 20px; 
    border-radius: 8px; 
    width: 2000px; 
    text-align:center;

}

.copy, .endereço, .contact{
    width: 33%; 
    padding-left: 100px;
   padding-right: 100px;

}
a{
    display: block;
}
.mapa{
    font-size: 15px; 
    line-height: 1.0;
}
ul{
    list-style: circle;
}


    