<footer>
  <div class="container flex flex-wrap">
    <div class="imagem">
      <img src="../../../assets/images/Intertherapy Logo.svg" alt="imagem intertherapy">
    </div>
    <div class="content">
      <div class="mapa">
        <h1>MAPA DO SITE</h1>
        <ul *ngFor="let link of links;">
          <a (click)="redirectTo(link)">{{link}}</a>
        </ul>
      </div>
      <div class="contato">
        <h1>CONTATO</h1>
        <a href="/frontend/src/app/pages/contact/">Fale Conosco</a>
        <p>(19) 3929-9866</p>
      </div>
      <div class="redes">
        <h1>REDES SOCIAIS</h1>
        <a  target="_blank">Instagram</a>
        <a href="https://www.facebook.com/intertherapyni" target="_blank"><mat-icon>facebook-box</mat-icon>Facebook</a>
      </div>

    </div>

  </div>
  <div class="container2">
    <div class="copy">
      <p>Copyright Intertherapy 2024</p>
    </div>
    <div class="endereço">
      <p>Rua José Von Zuben,181 - Vila Santo Antônio - Valinhos/SP</p>
    </div>
    <div class="contact">
      <a href="">intertherapyni&#64;gmail.com</a>
    </div>
  </div>
</footer>
