<div class="container">
    
    <div class="carousel">
        <div class="carousel-images">
            <img src="assets/images/Carousel_inicio/foto01.svg" alt="Slide 1">
            <img src="assets/images/Carousel_inicio/foto02.svg" alt="Slide 2">
            <img src="assets/images/Carousel_inicio/foto03.svg" alt="Slide 3">
            <img src="assets/images/Carousel_inicio/foto04.svg" alt="Slide 4">
            <img src="assets/images/Carousel_inicio/foto05.svg" alt="Slide 5">
        </div>
        <div class="carousel-indicators">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>

   
    <div class="nossa-missao">
        <div class="texto-missao">
            <h2>Nossa Missão</h2>
            <p>Atender às necessidades de nossos pacientes, superar as expectativas e realizar desejos são a nossa maior missão. Queremos oferecer muito mais que métodos e técnicas na área de Neuroreabilitação Infantil e Adulto, através de atendimentos humanizados, especializados e interdisciplinares, o desenvolvimento máximo das potencialidades da pessoa com deficiência, permitindo que cada um deles e seus familiares desfrutem ainda mais do prazer de viver intensamente.</p>
            <h3>Público-alvo:</h3>
            <ul>
                <li><span class="quadrado-laranja">✔</span> Pacientes pediátricos e adultos com algum tipo de condição neurológica</li>
                <li><span class="quadrado-laranja">✔</span> Atrasos do desenvolvimento</li>
                <li><span class="quadrado-laranja">✔</span> Síndromes genéticas (síndrome de Down, doenças raras)</li>
                <li><span class="quadrado-laranja">✔</span> Deficiência intelectual</li>
                <li><span class="quadrado-laranja">✔</span> Autismo (TEA)</li>
                <li><span class="quadrado-laranja">✔</span> Demais acometimentos do sistema neurológico</li>
            </ul>
        </div>
        <div class="imagem-missao">
            <img src="assets/images/Carousel_inicio/menina_sorriso.jpeg" >
        </div>
    </div>

   
    <div class="nossas-especialidades">
        <h2>Nossas Especialidades</h2>
        <div class="especialidades-grid">
            <div class="especialidade-item">
                <img src="assets/images/especialidades/Fisioterapia.png" alt="Fisioterapia">
                <h3>Fisioterapia</h3>
                <p>Melhorar a função física e a qualidade de vida de indivíduos, por meio de técnicas e exercícios específicos.</p>
            </div>
            <div class="especialidade-item">
                <img src="assets/images/especialidades/Terapia_Ocupacional.png" alt="Terapia Ocupacional">
                <h3>Terapia Ocupacional</h3>
                <p>Promover a independência funcional e a qualidade de vida, através de intervenções que visam melhorar as habilidades motoras, cognitivas e emocionais.</p>
            </div>
            <div class="especialidade-item">
                <img src="assets/images/especialidades/Fonoaudiologia.png" alt="Fonoaudiologia">
                <h3>Fonoaudiologia</h3>
                <p>Avaliar, diagnosticar e tratar distúrbios de comunicação, linguagem, deglutição e voz, visando melhorar a função e a qualidade de vida dos pacientes.</p>
            </div>
            <div class="especialidade-item">
                <img src="assets/images/especialidades/Psicologia.png" alt="Psicologia">
                <h3>Psicologia</h3>
                <p>Compreender e tratar os aspectos emocionais, cognitivos e comportamentais, visando melhorar o bem-estar e a qualidade de vida dos indivíduos e seus familiares.</p>
            </div>
            <div class="especialidade-item">
                <img src="assets/images/especialidades/Psicopedagogia.png" alt="Psicopedagogia">
                <h3>Psicopedagogia</h3>
                <p>Compreender e intervir nos processos de aprendizagem, oferecendo estratégias para desenvolver habilidades educacionais e o desenvolvimento cognitivo.</p>
            </div>
            <div class="especialidade-item">
                <img src="assets/images/especialidades/Psicomotricidade.png" alt="Psicomotricidade">
                <h3>Psicomotricidade</h3>
                <p>Utilizar o movimento e a expressão corporal para promover o desenvolvimento global da pessoa, integrando aspectos cognitivos, emocionais e motores.</p>
            </div>
        </div>
    </div>
</div>
