@import "../../global.scss";
.container {
  margin: 0 auto;
  padding: 0 20px;
  .carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    .carousel-images {
      display: flex;
      transition: transform 0.5s ease;
      img {
        width: 100%;
        display: block;
      }
    }

    .carousel-indicators {
      text-align: center;
      position: absolute;
      bottom: 10px;
      width: 100%;

      .dot {
        height: 12px;
        width: 12px;
        margin: 0 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
      }
      .dot.active {
        background-color: #4caf50;
      }
    }
  }
  .nossa-missao {
    .imagem-missao {
      width: 100%;
    }
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .texto-missao {
      padding: 0 0 0 0px;
      text-align: left;
      h2 {
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding-left: 0;
          margin-bottom: 10px;
          line-height: 1.5;

          .quadrado-laranja {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background-color: #f17a2d;
            color: white;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
            margin-right: 8px;
          }
        }
      }
    }
  }

  .nossas-especialidades {
    width: 100%;
    text-align: center;

    .especialidades-grid {
      gap: 28px;
      display: flex;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 20px;
      border-radius: 8px;

      .especialidade-item {

        background-color: #ffffff;
        border-radius: 8px;
        padding: 0 15px 0 15px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
        max-width: 407px;

        img {
          width: 50px;
          height: auto;
          margin-bottom: 10px;
        }
        h3 {
          font-family: 'Epilogue',sans-serif;
          font-size: 24px;
          font-weight:bold;
          letter-spacing: 2px;
          color: #2DABE5;
        }
        span{
          font-size: 85px;
          font-variation-settings: 'FILL' 1;
          color: #2DABE5;
        }
        p {
          color: #333;
          font-size: 12px;
          line-height: 1.4;
        }
      }
    }
  }
}

@media screen and (max-width: 1078px) {
  .nossa-missao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .imagem-missao {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 502px) {

.especialidades-grid{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

}

