<div class="container">


  <div class="nossa-missao">
    <div class="texto-missao">
      <h2>{{"mainPage.ourMission.title"|translate}}</h2>
      <p>{{"mainPage.ourMission.text"|translate}}
      </p>
      <h3>{{"mainPage.targetAudience.title"|translate}}</h3>
      <ul class="flex flex-column flex-wrap">
        <li>
          <span class="quadrado-laranja">✔</span>
          <p>{{"mainPage.targetAudience.text.items.Pediatric and adult patients"|translate}}</p>
        </li>
        <li>
          <span class="quadrado-laranja">✔</span>
          <p>{{"mainPage.targetAudience.text.items.Developmental delays"|translate }}</p>
        </li>
        <li>
          <span class="quadrado-laranja">✔</span>
          <p>{{"mainPage.targetAudience.text.items.Genetic syndromes (Down syndrome, rare diseases)"|translate}}</p>
        </li>
        <li>
          <span class="quadrado-laranja">✔</span>
          <p>{{"mainPage.targetAudience.text.items.Intellectual disability"|translate}}</p>
        </li>
        <li>
          <span class="quadrado-laranja">✔</span>
          <p>{{"mainPage.targetAudience.text.items.Autism (ASD)"|translate}}</p>
        </li>
        <li>
          <span class="quadrado-laranja">✔</span>
          <p>{{"mainPage.targetAudience.text.items.Other neurological system disorders"|translate}}</p>
        </li>
      </ul>
    </div>
    <div class="imagem-missao">
      <img [src]="imageSrc"  alt="imagem de criança feliz">
    </div>
  </div>


  <div class="nossas-especialidades">
    <h2>{{"mainPage.ourSpecialities.title"|translate}}</h2>
    <div class="especialidades-grid">
      <div class="especialidade-item">
        <h3>{{"mainPage.ourSpecialities.specialties.physiotherapy.title"|translate}}</h3>
        <span class="material-symbols-outlined">accessibility_new</span>
        <p>{{"mainPage.ourSpecialities.specialties.physiotherapy.description"|translate}}
        </p>
      </div>
      <div class="especialidade-item">
        <h3>{{"mainPage.ourSpecialities.specialties.occupational therapy.title"|translate}}</h3>
        <span class="material-symbols-outlined">neurology</span>
        <p>{{"mainPage.ourSpecialities.specialties.occupational therapy.description"|translate}}</p>
      </div>
      <div class="especialidade-item">
        <h3>{{"mainPage.ourSpecialities.specialties.speech therapy.title"|translate}}</h3>
        <span class="material-symbols-outlined">hearing_aid</span>
        <p>{{"mainPage.ourSpecialities.specialties.speech therapy.description"|translate}}
        </p>
      </div>
    </div>
    <div class="especialidades-grid">
      <div class="especialidade-item">
        <h3>{{"mainPage.ourSpecialities.specialties.psychology.title"|translate}}</h3>
        <span class="material-symbols-outlined">person</span>
        <p>{{"mainPage.ourSpecialities.specialties.psychology.description"|translate}}</p>
      </div>
      <div class="especialidade-item">
        <h3>{{"mainPage.ourSpecialities.specialties.psychopedagogy.title"|translate}}</h3>
        <span class="material-symbols-outlined">school</span>
        <p>{{"mainPage.ourSpecialities.specialties.psychopedagogy.description"|translate}}
        </p>
      </div>
      <div class="especialidade-item">
        <h3>{{"mainPage.ourSpecialities.specialties.psychomotricity.title"|translate}}</h3>
        <span class="material-symbols-outlined">pedal_bike</span>
        <p>{{"mainPage.ourSpecialities.specialties.psychomotricity.description"|translate}}
        </p>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
