<app-services-content
[Title]="'Psicologia'"
[TitleColorClass]="'titulo-Psicologia'"
[Subtitle]="'Avaliação Psicológica e Desenvolvimento Emocional'"
[FirstResume]="'A avaliação psicológica tem como foco a análise de aspectos comportamentais e emocionais, considerando a idade e as vivências individuais do paciente. São observados fatores como compreensão de ordens, expressão de sentimentos, histórico e contexto familiar, social e afetivo.'"
[SecondResume]="'Também é realizada a identificação de sinais que possam indicar a necessidade de um acompanhamento psicológico sistemático, com foco no cuidado das emoções, sentimentos e no manejo comportamental.'"
[ThirdResume]="'Exames e relatórios complementares são considerados durante o processo.'"
[FourResume]="'Na Intertherapy, essa avaliação é conduzida pelas psicólogas Kátia Chefaly, Isadora Talamoni e Letícia Batista, todas com ampla experiência clínica na área.'"
[AvaliationFormat]="'3 sessões de 50 min com o paciente e 2 sessões com os pais ou responsáveis. O feedback referente ao caso, é feito presencialmente, nas sessões previamente agendadas com os responsáveis.'"
[WhatGet1]="'- Exames que o paciente já tenha realizado relacionados ao quadro principal Ex: avaliação neuropsicológica, relatórios médicos, terapêuticos e escolares e etc'"
[WhatGet2]="'- Dispositivos que o paciente faça uso como óculos, acionadores, aparelho auditivo, adaptadores, tablets ou recursos de comunicação.'"
[WhatGet3]="'- É imprescindível enviar a ficha de ANAMNESE preenchida  1 dia antes da avaliação agendada.'"
[SrcImage]="'../../../../../assets/images/_services/Fisioterapy/Vector.svg'">
</app-services-content>
