<section class="page">
  <section class="area">
    <div class="content">
      <h2>Psycomotricidade</h2>
      <p class="inherit">
        1-) Avaliação Fisioterapêutica em Neurologia:
      </p>
      <p>
        Essa avaliação engloba a análise dos principais marcos do desenvolvimento nos aspectos sensório-motores. 
      </p>
      <p>
        É enfatizada a análise das estruturas clínicas principais como: força muscular, tônus, condição musculo esquelética, reflexos primitivos, reações de proteção e equilíbrio dentre outros. Quando necessário, são utilizadas ferramentas para análise complementar como avaliação por baropodometria, análise da marcha dentre outros.
      </p>
      <p>
        É feita análise específica das capacidade funcionais, coordenação e planejamento motor. São vistos exames e relatórios complementares ao caso. É realizada triagem dos aspectos cognitivos, sensoriais, linguagem e comunicação, motricidade oral, compreensão de ordens, habilidades comportamentais e sociais, com direcionamento para avaliação especializada sempre que necessário.
      </p>
      <p>
        Em nosso serviço a profissional responsável por essa avaliação é a fisioterapeuta Tatiane Tedeschi Roque, especialista em Neurologia Infantil, com mais de 15 anos de experiência nesta área.
      </p>
    </div>
    <div class="image">
      <img src="../../../../assets/images/_services/physiotherapy/Vector.svg" alt="">
    </div>
  </section>
  <section class="tratamentos">
    <h2>Tratamentos</h2>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>

      </mat-grid-tile>
      <mat-grid-tile>

      </mat-grid-tile>
      <mat-grid-tile>

      </mat-grid-tile>
      <mat-grid-tile>

      </mat-grid-tile>
    </mat-grid-list>

  </section>
</section>
