<app-services-content
[Title]="'Psicomotricidade'"
[TitleColorClass]="'titulo-Psicomotricidade'"
[Subtitle]="'Avaliação Psicomotora com Foco no Neurodesenvolvimento'"
[FirstResume]="'Essa avaliação engloba a análise dos principais marcos do desenvolvimento nos aspectos sensório-motores. '"
[SecondResume]="'A avaliação psicomotora tem como foco a triagem das capacidades funcionais, coordenação motora (grosseira e fina), equilíbrio e planejamento motor. Também são analisados exames e relatórios complementares que contribuem para a compreensão do caso.'"
[ThirdResume]="'Essa avaliação é realizada por profissionais da nossa equipe especializados em Psicomotricidade e Educação Física, com ampla experiência clínica na área de Neuropediatria.'"
[AvaliationFormat]="' 2 sessões de 50 minutos com o paciente, podendo ser realizadas no mesmo dia ou em dias distintos. Ao término do processo, um feedback presencial é oferecido aos responsáveis, com orientações pontuais.'"
[WhatGet1] = "'- Exames que o paciente já tenha realizado relacionados ao quadro principal Ex: avaliação neuropsicológica, relatórios médicos, terapêuticos e escolares e etc'"
[WhatGet2] = "'- Dispositivos que o paciente faça uso como óculos, acionadores, aparelho auditivo, adaptadores, tablets ou recursos de comunicação.'"
[WhatGet3] = "'-É imprescindível enviar a ficha de ANAMNESE preenchida  1 dia antes da avaliação agendada.'"
[SrcImage]="'../../../../../assets/images/_services/Fisioterapy/Vector.svg'">
</app-services-content>
