<section class="page">
  <section class="area">
    <div class="content">
      <h2>Terapia Ocupacional</h2>
      <p class="inherit">
        1-) Avaliação Fisioterapêutica em Neurologia:
      </p>
      <p>
        análise de um conjunto de ferramentas padronizadas que tem por objetivo avaliar os padrões de processamento sensorial do paciente no contexto da vida cotidiana, além de revelar como esses padrões apoiam e/ou interferem no desempenho funcional em casa, na escola e na comunidade.

        Em nosso serviço a profissional responsável por essa avaliação é a Terapeuca ocupacional Nathalia Abreu, especialista em Neurologia Infantil, com mais de 8 anos de experiência nesta área.
      </p>
    </div>
    <div class="image">
      <img src="../../../../assets/images/_services/physiotherapy/Vector.svg" alt="">
    </div>
  </section>
  <section class="tratamentos">
    <h2>Tratamentos</h2>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>

      </mat-grid-tile>
      <mat-grid-tile>

      </mat-grid-tile>
      <mat-grid-tile>

      </mat-grid-tile>
      <mat-grid-tile>

      </mat-grid-tile>
    </mat-grid-list>

  </section>
</section>
