<app-services-content
[TitleColorClass]="'titulo-fisio'"
[Title]="'Fisioterapia'"
[Subtitle]="'Avaliação Fisioterapêutica em Neurologia:'"
[FirstResume]="'A avaliação fisioterapêutica engloba a análise dos principais marcos do desenvolvimento nos aspectos sensório-motores. São observadas estruturas clínicas como força muscular, tônus, condição musculoesquelética, reflexos primitivos, reações de proteção e equilíbrio.'"
[SecondResume]="'Quando necessário, são utilizadas ferramentas complementares como a avaliação por baropodometria, análise da marcha e outras estratégias clínicas especializadas. Também é realizada uma análise das capacidades funcionais, coordenação e planejamento motor.'"
[ThirdResume]="'A triagem se estende ainda aos aspectos cognitivos, sensoriais, de linguagem e comunicação, motricidade oral, compreensão de ordens, além de habilidades comportamentais e sociais. Quando identificada alguma necessidade, é feito o direcionamento para avaliações especializadas.'"
[FourResume]="'Na Intertherapy, essa avaliação é conduzida pela fisioterapeuta Tatiane Tedeschi Roque, especialista em Neurologia Infantil, com mais de 15 anos de experiência clínica na área.'"
[AvaliationFormat]="'2h de duração aproximadamente. O feedback pontual aos responsáveis é feito presencialmente, no mesmo dia do atendimento, ao final do processo de avaliação.'"
[WhatGet1]="'- Exames que o paciente já tenha realizado relacionados ao quadro principal Ex: RX de quadril e coluna, exame de ressonância magnética ou tomografia, exames genéticos e afins '"
[WhatGet2]="'- Dispositivos que o paciente faça uso como órteses, bengalas, andadores, cadeira de rodas e afins.'"
[SrcImage]="'../../../../../assets/images/_services/Fisioterapy/Vector.svg'">
</app-services-content>


