<app-services-content
[Title]="'Fonoaudiologia'"
[TitleColorClass]="'titulo-fono'"
[Subtitle]="'Comunicação e linguagem em foco'"
[FirstResume]="'Esta avaliação contempla uma análise ampla dos aspectos relacionados à comunicação, linguagem, aprendizagem e motricidade oral. Também é feita uma investigação detalhada das estruturas clínicas principais, como força muscular, tônus, condição musculoesquelética, reflexos primitivos e reações posturais.'"
[SecondResume]="'Além disso, realiza-se uma análise específica das capacidades funcionais relacionadas aos aspectos fonoaudiológicos, sempre com o suporte de exames e relatórios complementares, quando disponíveis.'"
[ThirdResume]="'Na Intertherapy, essa avaliação é conduzida pela fonoaudióloga Marina Tedeschi Roque, especialista em Neurologia Infantil, com ampla experiência clínica na área.'"
[AvaliationFormat]="'2h de duração aproximadamente, podendo ser realizada no mesmo dia ou em momentos diferentes conforme o rendimento do paciente. O feedback pontual aos responsáveis é feito presencialmente, no mesmo dia do atendimento, ao final do processo de avaliação.'"
[WhatGet1]="'- Exames que o paciente já tenha realizado relacionados ao quadro principal Ex: exame de ressonância magnética ou tomografia, exames genéticos, teste da orelhinha, BERA, videodeglutograma e afins'"
[WhatGet2]="'- Dispositivos que o paciente faça uso como aparelho ortodôntico, óculos, mordedores etc.'"
[WhatGet3]="'- Levar um lanche com alimento sólido e um líquido para teste da motricidade oral (pode ser algo da preferência do paciente).'"
[SrcImage]="'../../../../../assets/images/_services/Fisioterapy/Vector.svg'">
</app-services-content>
