<div class="content">
  <h2>tratamentos</h2>
</div>

<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <app-treatments-admin></app-treatments-admin>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-treatments-admin></app-treatments-admin>
  </mat-grid-tile>  <mat-grid-tile>
    <app-treatments-admin></app-treatments-admin>
  </mat-grid-tile>  <mat-grid-tile>
    <app-treatments-admin></app-treatments-admin>
  </mat-grid-tile>  <mat-grid-tile>
    <app-treatments-admin></app-treatments-admin>
  </mat-grid-tile>  <mat-grid-tile>
    <app-treatments-admin></app-treatments-admin>
  </mat-grid-tile>

</mat-grid-list>
