<div class="history">
  <h2>Histórico de posts e notícias</h2>
  <div *ngIf="!isLoading; else loading">
    <div *ngIf="!failLoad; else failLoadTemplate">
      <div class="container">
        <div class="grid-container">
          <div class="container2" *ngFor="let item of combinedData">
            <div class="content" *ngIf="item.treatment">
              <img [src]="item.image.url" [alt]="item.image.name" />
              <h1>{{ item.treatment.name }}</h1>
              <p>{{ item.treatment.resume }}</p>
              <div class="buttonsLine">
                <button class="edit">
                  <mat-icon>edit-icon</mat-icon>
                  Editar Tratamento</button>
                <button class="delete" (click)="deleteImage(item.image.url)">
                  <mat-icon>delete</mat-icon>
                  Deletar tratamento</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button mat-stroked-button (click)="openDialog()" class="btn">+ Novo tratamento</button>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <ng-template #failLoadTemplate>
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <h1>Erro ao carregar itens</h1>
      <p>Entrar em contato com DTI</p>
      <p>dti&#64;intertherapy.com.br</p>
    </div>
  </ng-template>
</div>
