<div class="ServiceResume">
<div class="content">
  <div class="titleArea">
      <h1 class="title" [ngClass]="TitleColorClass">{{Title}}</h1>
  </div>
  <div class="resume">
    <div class="subtitle">
      <p> <strong>{{Subtitle}}</strong></p>
    </div>
    <p>
      {{FirstResume}}
     </p>
         <p>
      {{SecondResume}}
     </p>
         <p>
      {{ThirdResume}}
     </p>
         <p>
      {{FourResume}}
     </p>
     <p><strong>Formato de avaliação:</strong>{{AvaliationFormat}}</p>
     <p><Strong>O que levar?</Strong></p>
      <p>{{WhatGet1}}</p>
      <p>{{WhatGet2}}</p>
      <p>{{WhatGet3}}</p>
      <p>{{WhatGet4}}</p>
      <p>{{WhatGet5}}</p>
  </div>
</div>
<div class="image">
  <img src="{{SrcImage}}" alt="">
</div>
</div>
