@import url('../../../assets/fonts/fonts.scss');
.subjectImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/_services/servicesSubject.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 315px;

  h1 {
    font-size: 72px;
    font-weight: 400;
    color: white;
    font-style: normal;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3.5px;
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card h2 {
  color: blue;
  margin-bottom: 15px;
}

.card p {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
}
.Tratamentos{
  text-align: left;
  color: orangered
}
.btn {
 display: inline-flexbox;
  padding: 10px 20px; 
  font-size: 16px; 
  color: white; 
  background-color: #007BFF; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold; 
  text-transform: uppercase; 
  transition: background-color 0.3s ease; 
  justify-content: left;
  align-items: left;
}

.btn:hover {
  background-color: #0056b3; 
}