@import "../../global.scss";
.subjectImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/_services/servicesSubject.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 315px;

  h1 {
    font-size: 72px;
    font-weight: 400;
    color: white;
    font-style: normal;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3.5px;
  }
}

.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 311px 84px 301px;
  button {
    font-family: "Epilogue", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 10px 34px 10px 34px;
    border-radius: 53px;
  }

}
