.ng-star-inserted{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  background-image: url("../../../assets/images/_services/servicesSubject.svg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 315px;

  h1{
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
}

}
@import "../../global.scss";
@import "../../variables.scss";

.history {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    img {
      width: 200px;
      cursor: pointer;
    }
  }
}

.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 150px 84px 150px;
  color: white;
  flex-wrap: wrap;
}

button {
  width: auto;
  color: white;
}





.container{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 1rem; /* espaço entre os itens */
}
.container2{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color:rgb(255, 255, 255);

.content{
  display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;

.buttonsLine{
  display: flex;
  .delete{
    background-color: red;
  }
  .edit{
    background-color: $green;
  }
  button{
    display: flex;
    align-items: center;
    justify-content: center;


  }
}

h1{
  color: #2DABE5;
  font-size: 24px;
  font-weight: 700;
}
}
}

.btn{
  background-color: #2DABE5;
}


