<div class="subjectImage">
  <h1>NOSSOS SERVIÇOS</h1>
</div>
<div class="Fisioterapiatexto">
  <h1>FISIOTERAPIA</h1>
  <p>1-) Avaliação Fisioterapêutica em Neurologia: </p>
  <p>Essa avaliação engloba a análise dos principais marcos do desenvolvimento nos aspectos sensório-motores. </p>
  <p>É enfatizada a análise das estruturas clínicas principais como: força muscular, tônus, condição musculo esquelética, reflexos primitivos, reações de proteção e equilíbrio dentre outros. Quando necessário, são utilizadas ferramentas para análise complementar como avaliação por baropodometria, análise da marcha dentre outros. É feita análise específica das capacidade funcionais, coordenação e planejamento motor. São vistos exames e relatórios complementares ao caso. É realizada triagem dos aspectos cognitivos, sensoriais, linguagem e comunicação, motricidade oral, compreensão de ordens, habilidades comportamentais e sociais, com direcionamento para avaliação especializada sempre que necessário. </p>
  <p>Em nosso serviço a profissional responsável por essa avaliação é a fisioterapeuta Tatiane Tedeschi Roque, especialista em Neurologia Infantil, com mais de 15 anos de experiência nesta área.    </p>
  <P>Formato da avaliação: 2h de duração aproximadamente. O feedback pontual aos responsáveis é feito presencialmente, no mesmo dia do atendimento, ao final do processo de avaliação. </P>

</div>
<div class="levar">
  <h1>O que Levar?
  </h1>
</div> 
<div class="textolevar">
  <li>
    <ul>
    <p>Exames que o paciente já tenha realizado relacionados ao quadro principal Ex: RX de quadril e coluna, exame de ressonância magnética ou tomografia, exames genéticos e afins </p>
  </ul>
  <ul>
    <p>Dispositivos que o paciente faça uso como órteses, bengalas, andadores, cadeira de rodas e afins</p>
  </ul>
</li>
</div>
<div class="Tratamentos">
  <h1>TRATAMENTOS</h1>
</div>
<div class="container">
  <div class="card">
      <h2>Método Therasuit</h2>
      <p>O Therasuit é um método terapêutico intensivo utilizado no tratamento de crianças e adultos com distúrbios neuromotores.</p>
  </div>
  <div class="card">
      <h2>ETCC / TDCS</h2>
      <p>O protocolo de TDCS é uma abordagem terapêutica que utiliza estimulação elétrica de baixa intensidade para modular a atividade neural.</p>
  </div>
  <div class="card">
      <h2>Treinamento Locomotor</h2>
      <p>Uma abordagem terapêutica utilizada no tratamento de distúrbios neuromotores, como lesão medular, paralisia cerebral e acidente vascular cerebral (AVC).</p>
  </div>
  <div class="card">
      <h2>Conceito Neuroevolutivo Bobath</h2>
      <p>É uma abordagem terapêutica utilizada na reabilitação de indivíduos com distúrbios neuromotores e se baseia na compreensão dos princípios de neuroplasticidade.</p>
  </div>
  <div class="card">
      <h2>Laserterapia</h2>
      <p>É uma técnica que tem sido utilizada no tratamento de condições neuromotoras, promovendo a melhora da atividade muscular e vascular periférica.</p>
  </div>
  <div class="card">
      <h2>Realidade Virtual - RV</h2>
      <p>É uma ferramenta utilizada para estimular pacientes com distúrbios neuromotores por meio de exercícios funcionais em ambientes virtuais.</p>
  </div>
  <div class="card">
      <h2>Integração Sensorial</h2>
      <p>É uma abordagem desenvolvida por Jean Ayres com o objetivo de ajudar o cérebro a organizar as sensações de forma mais eficiente e proporcionar melhorias funcionais.</p>
  </div>
  <div class="card">
      <h2>ABA</h2>
      <p>É uma abordagem terapêutica que busca promover a aquisição de novos comportamentos e a melhora de habilidades sociais, acadêmicas e funcionais.</p>
  </div>
  <div class="card">
      <h2>PODD</h2>
      <p>O PODD utiliza diagramas, palavras e frases organizadas em quadros para comunicação assistida. Ajuda pessoas com dificuldades na fala e na escrita.</p>
  </div>
</div>
<div class="butaum">
  <a href="/frontend/src/app/pages/about/about.component.html" class="btn">Veja Mais</a>

</div>

