<app-services-content
[Title]="'Psicopedagogia'"
[TitleColorClass]="'titulo-Psicopedagogia'"
[Subtitle]="'Avaliação Cognitiva e Psicopedagógica Infantil'"
[FirstResume]="'A avaliação psicopedagógica tem como objetivo investigar aspectos cognitivos e atencionais, considerando a idade e as experiências individuais do paciente. São analisadas habilidades como compreensão de ordens, memória, raciocínio lógico, conceitos básicos, linguagem, planejamento, foco atencional, além da noção temporal e espacial.'"
[SecondResume]="'Também é realizada uma análise específica das capacidades funcionais cognitivas da criança, com apoio de exames e relatórios complementares sempre que disponíveis.'"
[ThirdResume]="'Essa avaliação é conduzida por profissionais da nossa equipe com formação em Psicopedagogia e especialização em Neuropsicopedagogia, todos com ampla experiência clínica na área.'"
[AvaliationFormat]="'2h de duração aproximadamente, podendo ser realizada no mesmo dia ou em momentos diferentes conforme o rendimento do paciente. O feedback pontual aos responsáveis é feito presencialmente, no mesmo dia do atendimento, ao final do processo de avaliação.'"
[WhatGet1]="'- Exames que o paciente já tenha realizado relacionados ao quadro principal Ex: avaliação neuropsicológica, relatórios médicos, terapêuticos e escolares e etc'"
[WhatGet2]="'- Dispositivos que o paciente faça uso como óculos, acionadores, aparelho auditivo, adaptadores, tablets ou recursos de comunicação.'"
[WhatGet3]="'- É imprescindível enviar a ficha de ANAMNESE preenchida  1 dia antes da avaliação agendada.'"
[SrcImage]="'../../../../../assets/images/_services/Fisioterapy/Vector.svg'">
</app-services-content>
