@import "../../global.scss";

.subjectImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/contact/contactSubject.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 315px;

  h1 {
    font-size: 72px;
    font-weight: 400;
    color: white;
    font-style: normal;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3.5px;
  }
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px 20px; /* Maior espaçamento ao redor */
}

.form-section {
  flex: 1;
  margin-right: 20px;
  padding: 30px;
  border-radius: 8px;



  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input,
  select,
  textarea {
    padding: 12px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px; /* Bordas mais arredondadas */
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 14px;
  }

  button {
    background-color: #f25c05; /* Cor laranja do botão */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #d14a04; /* Cor mais escura ao passar o mouse */
  }
}

.address {
  max-width: 100%;
  .googleMaps {
    flex: 1;

    max-height: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .phone{
      font-weight:600;
      font-size: 17px;
      font-family: 'Epilogue',sans-serif;
      color: #090909;
    }
  }
}

footer {
  background-color: #5dc160;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  .form-section {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
textarea {
  resize: none; /* Desabilita a opção de redimensionar a área de texto */
}
