@import url('../../../assets/fonts/fonts.scss');
.subjectImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/contact/contactSubject.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 315px;

  h1 {
    font-size: 72px;
    font-weight: 400;
    color: white;
    font-style: normal;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3.5px;
  }
}
