@import '../../variables.scss';

.header{
  padding: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  .image{
    width: auto;
    padding: 0 0 0 115px;
    img{
      cursor: pointer;
    }
  }


  .content{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    height: 100%;
    .language-switcher{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .content a{
    cursor: pointer;
    font-size: 18px;
    font-weight: Medium;
    font-family: 'Roboto',sans-serif;
    text-transform: capitalize;


  }


}

.link-container {
  display: flex;
  position: relative;
  height: 100%;
  margin: 0 10px;
  align-items: center;
  justify-content: center;

}

.square {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 20px;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 940px) {
  .header{
    align-items: center;
    justify-content: center;
    .image{
      padding: 0;
    }

    .content{
      padding: 0;
      align-items: center;
      justify-content: center;
    }
  }
}

mat-form-field,mat-select{
  font-size: 18px;
  height: 100%;
}
