@use '@angular/material' as mat;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #F1F1F1;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  box-shadow: none !important;
  border: none;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  transition: none !important;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color:#F58634;
  }
.mdc-circular-progress__determinate-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
