<div class="container flex justify-content-between">
  <div class="content">
    <h1 class="title">história</h1>
    <div class="paragraphs">
      <div class="side_image">
        <p>A Clínica <strong>Intertherapy</strong> foi fundada pela Fisioterapeuta Tatiane Tedeschi Roque em 14 de Janeiro de 2019 e conta com atendimentos interdisciplinares. </p>
        <p>
          Tatiane, fundadora e diretora da clínica, atua na área da reabilitação neurofuncional desde 2009, e ao longo de sua trajetória se especializou em métodos voltados para o tratamento neurológico como o Método Therasuit, com vivências no exterior, a estimulação pode Corrente Contínua TDCS, o Conceito Neuroevolutivo Bobath Pediátrico, dentre outros .  
        </p>
      </div>
      <div class="subparagraph">
        <p><strong>Por quê Intertherapy?</strong></p>
        <p><strong>INTERTHERAPY: </strong>substantivo feminino que transmite ideia de relações, trocas, coordenação, parcerias, contribuição entre áreas e pessoas</p>
        <ul>
          <li><p><strong>Inter</strong>= Interdisciplinar</p></li>
          <li><p><strong>Therapy</strong>= remete a ideia de terapia / Thera = representando a história de nossa equipe através da atuação com protocolos intensivos.
          </p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image">
    <img
    src="../../../assets/images/about/aboutUsWomanPic.png"
    alt=""
    >
  </div>
</div>
<div class="vision_and_values align-content-center justify-content-center flex">
  <div class="vision">
    <h1 class="title">VISÃO</h1>
    <div class="content">
      <p>Ser referência na área da Neurohabilitação por oferecer suporte terapêutico interdisciplinar diferenciado, com especificade e excelência, suprindo completamente as necessidades de nossos pacientes e de seus familiares, garantindo que cada história seja individualmente única e rica em detalhes dentro de nosso acompanhamento terapêutico.</p>
    </div>
  </div>
  <div class="values">
    <h1 class="title">VALORES</h1>
    <div class="content flex">
      <ul>
        <li>Interdisciplinaridade</li>
        <li>Sensibilidade</li>
        <li>Acolhimento</li>
        <li>Ética</li>
        <li>Especificidade</li>
        <li>Comprometimento</li>
      </ul>
      <ul>
        <li>Objetividade</li>
        <li>Foco</li>
        <li>Conhecimento</li>
        <li>Dedicação</li>
        <li>Amor</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <h1 class="title">NOSSO ESPAÇO</h1>
</div>
