.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 311px 84px 301px;
  button {
    font-family: "Epilogue", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 10px 34px 10px 34px;
    border-radius: 53px;
  }

}
